body{
	margin: 0;
	background-image: url(./fon.png);
	width: 100%;
  height: 100%;
}
@font-face {
    font-family: "Gameof"; 
		src: url("./GameofThrones.ttf") format('truetype');
		
}
.box{
	width: 50%;
	height: 100%;
}
.left{
	background-image: url(./logo.jpg) ;
	float:left;
	background-position: center;
	background-size: cover;
}

input[type="checkbox"] {
 border: 1px solid #f00;
 background: #f00;
 border-radius: 5;
}

.button{
	background-color: #c19a49;
	padding: 15px;
  width: 450px;
  margin-top: 70px;
}
.checkbox{
	display:inline-block;
	margin:0;
}

.right{
	color:#d3bb89;
	float:right;
	display: flex;
  align-items: center;
  justify-content: center;
}
label{
	font-size:1.6em;
}
hr{
	margin-bottom:2em;
}
span{
	font-size: 0.65em;
  font-family: sans-serif;
  color: #fef8eb;
}
form h1{
	text-align: center;
	margin-bottom:2em;
	font-weight: 400;
	font-family: "Gameof";
	text-transform:uppercase;
}
input,select, textarea{
	margin-top:1em;
	margin-bottom:0.6em;
	background-color: unset;
  border: none;
	display:block;
	font-size: 1.4em;
	outline: none;
	color:#fef8eb;
}
p{
	color:#fef8eb;
	border-left:solid 2px #d3bb89;
	padding-left:15px;
	font-size:20px;
 }
 textarea{
	 width:400px;
	 resize:none;
 }
 select{
	-webkit-appearance: none;

 }
 option {
  background-color: #202020;
  color:  #fef8eb;
}

.checkbox {
  display: none;
}
.mycheckbox {
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
  position: relative;
  background-color:#d3bb89;
  border-radius:2px;
  padding:3px;
	margin-right:1em;
}
[type=checkbox]:checked + .mycheckbox:before {
  content: '\2715';
  position: absolute;
  top: -5px;
  left: 0;
  font-size:2.2em;
  color:#202020	;
}

